<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" id="wp-block-library-css" href="https://bvipc.com/wp-includes/css/dist/block-library/style.min.css?ver=6.5.3" type="text/css" media="all">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <style>
        .body {
            background-color: #f8f9fa;
            background-image: url('/static/img/background-image.jpg');
            background-size: cover;
            background-position: center;
        }

        .login-form {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        #loginbox {
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="body"> >
        <div class="row justify-content-center align-items-center" style="height: 100vh">
            <div class="col-sm-4 "></div>
            <div class="col-sm-4" id="loginbox">
                <form class="login-form" method="post" action="/login.php/">
                    {% csrf_token %}
                    <h2 class="text-center mb-4">登录</h2>
                    <div class="form-group">
                        <label for="username">用户名或邮箱</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" name="pwd" required>
                    </div>
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                    {% if next %}
                    <botton type="button" class="btn btn-danger btn-block" onclick="location.href='{{ next }}'">返回</botton>
                    {% endif %}
                    <p class="text-center mt-3">还没账户？<a href="/login.php/signup/">注册</a></p>
                </form>
            </div>
        </div>
        </div>
    </div>
</body>
</html>
